keys/*

src/*/migrations/*
*.DS_Store
*.pyc
db.sqlite3
.vscode/*

src/gcp-blog/log/dev/*
src/gcp-blog/log/prod/*

old/*
CACHE/*
keys/*
.venv
.log
media
migrate
config
cloud_sql_proxy

.env
.env.stage
.env.prod